.about-container {
    background: #c9c6c7;
    margin: 0 50px;
    position: relative;
    padding-top: 1%;

    .qualification-container {
        .faceImg {
            border-radius: 50%;
            width: 10%;
            position: absolute;
            top: -5vw;
            left: 7%;
        } 
    }

    .text-about{
        color: #946d50;
        font-size: 1rem;
    }
}