<div class="about-container row">
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" [src]="face" alt="imagen do perfil" width="250">
        
    </div>

    <div class="text-about col-9">
        <h3 class="section-title">Sobre mim</h3>
        <p class="about-description text-justify">
            Sou uma desenvolvedora web curiosa e determinada que gosta de desafiar convenções e buscar soluções criativas. Meu
            interesse pela tecnologia surgiu enquanto trabalhava como executiva de domínios web, cercada por colegas
            de informática. Adquiri experiência em desenvolvimento web, tanto em projetos front-end quanto back-end, e
            possuo habilidades interpessoais como adaptabilidade, trabalho em equipe e resolução de problemas. Minha língua materna é o espanhol, e também posso me comunicar em português e inglês.
            
        </p>
    </div>
</div>
