<div class="project-container row">
    <div class="d-flex" flex-wrap>
        <img [src]=projects.urlImage class="img-project" alt="imagem projeto" width="250">
        <div class="text-project" d-flex flex-column justify-content-center>
            <h5>{{ projects.title }} </h5>
            <p class="project-description"> {{ projects.description }} </p>
            <a class="project-repository" href="{{ projects.linkRepository }}" target="_blank">Link para o Repositório</a>
        </div>
    </div>
</div>

