.navbar-container {

    background: rgb(201, 198, 199);

    .navbar-right {
        .social {
            a:hover {
                transform: scale(1.2);
            }

            .social-item {
                margin-right: 60px;
            }

            a {
                color: #bb8e6c;
            }
        }
    }
}
